@media screen and (max-width: 640px) {
  /* NAVIGATION */
  .tab {
    list-style: none;
    display: inline;
    margin-right: 1em;
    font-size: 1.2em;
    font-weight: bold;
  }

  .icon-menu {
    position: relative;
    bottom: 11.5vw;
    float: right;
    font-size: 3em;
  }

  .page {
    text-align: center;
  }

  .hide {
    display: none;
  }

  .header-section {
    background-color: slategray;
    width: 100%;
    padding: 5%;
  }

  #isbn {
    font-size: 1em;
  }

  #author {
    font-size: 1em;
  }

  #description {
    font-weight: bold;
  }

  #border {
    border-bottom: 3px solid white;
    margin: 2%;
  }
}